*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


body{
    background: rgb(244, 240, 233);
    font-family: 'Source Sans Pro', sans-serif;
}


/* Navigation styles */
.main-nav{
    background: black;
    height: 8vh;
    display: flex;
    align-items: center;

    
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu *{
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
    color: white;
}

.menu-section {
    font-size: 2rem;
    gap: 1rem;
    display: flex;
}


/* user action styles */
.user-action{
    gap: 1rem;
    display: flex;
}



/* home styles */

.container{
    width: 62%;
    margin: 0 auto;
}

.blog-home{
    display: flex;  
    justify-content: space-between;
    margin-top: 1rem;
}


.blog-article{
    flex-basis: 60%;
    align-self: self-start;

}

.aside{
    color: black;
    width: 30%;
    padding: 1rem;
    background: white;
    border-radius: .5rem;
    align-self: self-start;

}

.aside h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.aside p{
    border: 1px solid black;
    font-size: 1.4rem;
    padding: 1rem;
    background: beige;
}

.aside p:not(:last-child){
    margin-bottom: 1rem;
}

.aside p:hover{
    cursor: pointer;
}

.post-container{
    padding: 1rem 2rem;
    background-color: white;
    margin-bottom: 1rem;

}

.post-info{
    /* background: green; */
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}


.post-author{
    color: aqua;
    font-size: 1.6rem;
}

.post-date{
    color: black;
    font-weight:900;

}


.post-title{
    margin-bottom: 1rem;
    font-size: 2rem;

}

.post-content{
    /* white-space: pre-line; */
}